.content {
    width:100%;
    height:55%;
    background: #f2f2f2;
}
    .profile {
        width:30%;
        float: left;
    }
    .info {
        width:70%;
        float:right;
    }

.map {
    width:100%;
    height:45%;
}